 * {
    text-align: center;
    font-family: Arial;
    line-height: 60px;
  }
body {
	background-color: #777777;

}

header {
	background-color: #ebebeb;
	margin:5px;
	height: 30px;
	width: 75%;
	display: block;
}

nav {

}

footer {

}

section{

}
aside {
	
}