 * {
    text-align: center;

  }

body {
	background-color: #777777;
	font-family: 'Roboto';


}

header {
	display: block;
	margin: 8px 100px 0px 100px;
	background-color: #ebebeb;
	text-align: center;
	height: 120px;
	line-height: 120px;
	font-size: 2em;
	color: #777777;


}

nav {
	display: block;
	margin: 8px 100px 0px 100px;
	background-color: #ebebeb;
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 1.6em;
	color: #777777;

}

.TwoRow{
	margin: 12px 100px 12px 100px;

}


section {
	height: 360px;	
	width: 59%;
	display: inline-block;
	float:left;
	margin: 0px 0px 1% 0px;
	background-color: #ebebeb;

}

article {
	color: #ebebeb;
	font-family: 'Roboto';
	width: 95%;
	height: 150px;
	margin: 30px 10% 0px 2.5%;
	background-color: #777777; 
}
div.box-set{
	clear:both;
	line-height: 30px


}


.box {
	height:34px;
	width: 90%;
	background-color:#ebebeb;
	color: #777777;
	font-weight: bold;
	margin:10px 0px 4px 5%;
	margin-left: 5%;
}



aside {
	font-family: 'Roboto';
	height: 360px;
	width: 40%;
	display: inline;
	float: right;
	margin: 0px 0px 0px 0px;
	background-color: #ebebeb;
	color: #777777;
	line-height: 120px;

	
}

footer {
	font-family: 'Roboto';
	clear: both;
	display: block;
	height: 60px;
	background-color: #ebebeb;
	margin: 8px 100px 0px 100px;
	line-height: 50px;

	

}