 * {
    text-align: center;
    font-family: Arial;
  }

body {
	background-color: #777777;

}

header {
	display: block;
	margin: 8px 100px 0px 100px;
	background-color: #ebebeb;
	text-align: center;
	height: 120px;
	line-height: 120px;
	font-size: 2em;
	font-family: 'Roboto';
	color: #777777;


}

nav {
	display: block;
	margin: 8px 100px 0px 100px;
	background-color: #ebebeb;
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 1.6em;
	font-family: 'Roboto';
	color: #777777;

}

.TwoRow{
	margin: 12px 100px 12px 100px;

}


section {
	height: 360px;	
	width: 59%;
	display: inline-block;
	float:left;
	/*line-height: 120px;*/
	margin: 0px 0px 0px 0px;
	background-color: #ebebeb;

}

article {
	width: 95%;
	height: 150px;
	margin: 30px 10% 0px 2.5%;
	background-color: #777777; 
}
div.box-set{
	clear:both;
	/*margin: 10% 4% 4% 4%;*/
}

/*.box-set {
	overflow: auto;

	}*/
.box {
	/*position:relative;*/
	height:34px;
	width: 90%;
	background-color:#ebebeb;
	margin:10px 0px 4px 5%;
	margin-left: 5%;
}



aside {
	height: 360px;
	width: 40%;
	display: inline;
	float: right;
	margin: 0px 0px 0px 0px;
	background-color: #ebebeb;
	
}

footer {
	clear:both;
	height: 40px;
	background-color: #ebebeb;
	

}